{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="my-4">Edit Student</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control", placeholder="Name") }}
        </div>
        <div class="form-group">
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control", placeholder="Surname") }}
        </div>
        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Email") }}
        </div>
        <div class="form-group">
            {{ form.course.label(class="form-label") }}
            {{ form.course(class="form-control", placeholder="Course") }}
        </div>
        <div class="form-group">
            {{ form.image.label(class="form-label") }}
            {{ form.image(class="form-control-file") }}
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>
{% endblock %}
